<link href="componants/youtubePlayer/youtubeStyle.css" type="text/css" rel="stylesheet"/>
<div class="grid-stack-item-content">
    <div class="row">
        <div class="youtubeContainer">
            <iframe class="youtubePlayer" src="https://www.youtube.com/embed/videoseries?list=PLfZeR4pSmgNb_qJGpWcDsCSwkNiZUCkjO" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row center"><a class="waves-effect waves-light btn" href="#loginModal">Edit</a></div>
</div>