<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>hubfy</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="icon" href="/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <nav class="grey darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Hubfy</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#loginModal" class="modal-trigger">login <span class="fa fa-sign-in"></span></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav grey darken-4 white-text">
                <li><a href="#loginModal" class="modal-trigger">login <span class="fa fa-sign-in"></span></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- login modal Structure -->
    <div id="loginModal" class="modal smallModal">
        <div class="modal-content">
            <h4>Sign In <span class="fa fa-sign-in"></span></h4>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="chip">
                    <%= message %>
                        <i class="material-icons">close</i>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form id="loginForm" action="/login" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="text" required="validate" name="email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password " type="password" required class="validate" name="password">
                                <label for="pawword">Password</label>
                            </div>
                        </div>
                        <div class="row right-align">
                            <button type="submit" class="btn waves-effect orange darken-3 waves-light">Login</button>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <p class="grey-text text-darken-1">Need an account? <a class="modal-trigger modal-action modal-close" href="#signUpModal">Signup</a></p>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
    <!-- login modal Structure -->
    <div id="signUpModal" class="modal smallModal">
        <div class="modal-content">
            <h4>Sign Up <span class="fa fa-sign-in"></span></h4>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="chip">
                    <%= message %>
                        <i class="material-icons">close</i>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form id="loginForm" action="/signup" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="text" required="validate" name="email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password " type="password" required class="validate" name="password">
                                <label for="pawword">Password</label>
                            </div>
                        </div>
                        <div class="row right-align">
                            <button type="submit" class="orange darken-3 btn waves-effect waves-light">sign up</button>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <p class="grey-text text-darken-1">Already have an account? <a class="modal-trigger modal-action modal-close" href="#loginModal">Login</a></p>
                            </div>
                        </div>
                    </form>
        </div>
    </div>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center orange-text text-darken-3  pageTitle">Hubfy</h1>
                <div class="row center">
                    <h5 class="header col s12 light">This is will be so cool, you will see</h5>
                </div>
                <div class="center">
                    <a class="waves-effect waves-light btn modal-trigger buttonParalax" href="#loginModal">login</a>
                    <a class="waves-effect waves-light btn modal-trigger buttonParalaxGhost" href="#signUpModal">register</a>
                </div>
                <br>
                <br>

            </div>
        </div>
        <div class="parallax"><img id="paralax1" src="img/back1.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact</h5>
                    <p class="grey-text text-lighten-4">I'm a junior developer, and i'm working on this project on my free time. Feel free to contact me on github if you have any sugestion.</p>


                </div>
                <div class="col l3 offset-l3 s12">
                    <h5 class="white-text"><a href="https://github.com/adNNNN">my GitHub :D</a></h5>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="https://github.com/DanGeffroy/">Dan Geffroy</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>
