@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#logo-container{
    font-family: 'Permanent Marker', cursive;
    color: #e65100;
    font-size: 300%;
}
.pageTitle{
    font-family: 'Permanent Marker', cursive;
    font-size: 600%;
}
body {
    background-color: #1D1F21;
}

nav ul a,
nav .brand-logo {
  color: #ffffff;
}
p {
  line-height: 2rem;
}
.side-nav a {
    color: #ffffff;
}
.button-collapse {
  color: #e65100;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.modal .modal-footer {
    background-color: #2B2B2B;
}
.modal-content>h4{
    color: white;
}
.smallModal{
    width: 300px;
    background-color: #2B2B2B;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
  color:white;
}


.input-field .prefix.active {
  color: #ef6c00;
}


input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ef6c00;
}
.modal-content .btn{
    width: 100%;
}

a {
  color: #ef6c00;
}
#paralax1{
     -webkit-filter:brightness(50%);
    filter: brightness(50%);
}
.buttonParalax{
    width: 150px;
    background-color: #ef6c00 !important;
}
.buttonParalax:hover{
    background-color: #e65100 !important;
}
.buttonParalaxGhost{
     background-color:transparent;
    border: 2px solid white;
}
.buttonParalaxGhost:hover{
     background-color:white;
    color: black;
}
.parallax-container {
    min-height: 600px;
}
.parallax-container .section {
    padding-top: 150px;
}


/* grid part*/

.grid-item {
	background-color: #2B2B2B;
	-webkit-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-moz-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-o-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
}

.grid-item:active, .grid-item.moving {
	z-index: 2;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.grid-placeholder {
	background-color: rgba(255,255,255, 0.1);
}

@media (max-width: 767px) {
	.grid {
		width: 100% !important;
		height: auto !important;
		padding: 10px;
	}
	.grid-item {
		position: static !important;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.grid-item:last-child {
		margin-bottom: 0;
	}
}

/* ScrollBar stuff */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #858585;
  border: 0px none #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #898989;
}
::-webkit-scrollbar-thumb:active {
  background: #9d9d9d;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 255, 0.0);
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 255, 0.0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 255, 0.0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
